<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-light">
                <div class="card-body">
                    <h2 class="text-center mb-4">Edit</h2>


<!--                    <form th:action="@{/editCategory}" method="post">-->
<!--                        <input type="hidden" th:field="${category.id}">-->
<!--                        <div class="mb-3 ml-5 mr-5">-->
<!--                            <input type="text" th:field="${category.name}" class="form-control" placeholder="Username" required="required">-->
<!--                        </div>-->
<!--                        <div class="mb-3 text-center">-->
<!--                            <button type="submit" class="btn btn-dark">Update</button>-->
<!--                        </div>-->
<!--                    </form>-->



                </div>
            </div>
        </div>
    </div>
</div>

<script></script>
</body>
</html>
