<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">


<!-- molla/index-17.html  22 Nov 2019 10:00:25 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Westernhills</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->

    <link rel="apple-touch-icon" sizes="180x180" href="assetsss/images/image-logo.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assetsss/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assetsss/images/icons/favicon-16x16.png">
    <link rel="manifest" href="assetsss/images/icons/site.html">
    <link rel="mask-icon" href="assetsss/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="assetsss/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assetsss/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="assetsss/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="assetsss/css/bootstrap.min.css">
    <link rel="stylesheet" href="assetsss/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="assetsss/css/plugins/magnific-popup/magnific-popup.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="assetsss/css/style.css">
    <link rel="stylesheet" href="assetsss/css/skins/skin-demo-17.css">
    <link rel="stylesheet" href="assetsss/css/demos/demo-17.css">
</head>

<body>
    <div class="page-wrapper">  
        <header class="header header-6">
            <div class="header-top">
                <div class="container">


                    <div class="header-right">

                    </div><!-- End .header-right -->
                </div>
            </div>
            <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                        <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper search-wrapper-wide">
                                    <label for="q" class="sr-only">Search</label>
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search product ..." required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                    </div>
                    <div class="header-center">
                        <a href="index.html" class="logo">
                            <img src="assetsss/images/image-logo.png" width="180" height="100">
                        </a>
                    </div><!-- End .header-left -->

                    <div class="header-right">


                        <div class="dropdown cart-dropdown">

                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-cart-products">
                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="product.html">Beige knitted elastic runner shoes</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x $84.00
                                            </span>
                                        </div><!-- End .product-cart-details -->

                                        <figure class="product-image-container">
                                            <a href="product.html" class="product-image">
                                                <img src="assetsss/images/products/cart/product-1.jpg" alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                    </div><!-- End .product -->

                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="product.html">Blue utility pinafore denim dress</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x $76.00
                                            </span>
                                        </div><!-- End .product-cart-details -->

                                        <figure class="product-image-container">
                                            <a href="product.html" class="product-image">
                                                <img src="assetsss/images/products/cart/product-2.jpg" alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                    </div><!-- End .product -->
                                </div><!-- End .cart-product -->

                                <div class="dropdown-cart-total">
                                    <span>Total</span>

                                    <span class="cart-total-price">$160.00</span>
                                </div><!-- End .dropdown-cart-total -->

                                <div class="dropdown-cart-action">
                                    <a href="cart.html" class="btn btn-primary">View Cart</a>
                                    <a href="checkout.html" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .dropdown-cart-total -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .cart-dropdown -->
                    </div>
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">


                                <li class="megamenu-container active">
                                    <a class="sf-with-ul">Home</a>

                                </li>

                                <li>
                                    <a th:href="@{/findProducts}" class="sf-with-ul">Shop</a>

                                </li>


                                <li>
                                    <a th:href="@{/cartShow}" class="sf-with-ul">Cart</a>

                                </li>


                                <li>
                                    <a  th:href="@{/wishlist}" class="sf-with-ul">Wishlist</a>


                                </li>


                                <li>
                                    <a th:href="@{/getUserOrder}" class="sf-with-ul">Order</a>


                                </li>


                                <li>
                                    <a th:href="@{/customers}" class="sf-with-ul">Profile</a>

                                </li>

                                <li>
                                    <a   href="/logout" class="btn sf-with-ul">Logout</a>
                                </li>

                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->

                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <i class="la la-lightbulb-o"></i><p>Clearance Up to 30% Off</span></p>
                    </div>
                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->

        <main class="main">
            <div class="intro-section bg-lighter pt-3">
                <div class="container">
                    <div class="banner-group">
                        <div class="row">
                            <div class="col-lg-5" th:each="banner : ${banner}">
                                <div class="banner banner-big banner-overlay">
                                    <a href="#">
                                        <img th:src="${'/banner-image/' + banner.bannerImages[0].fileName}" alt="Banner"  style="height: 400px; width: 500px;" >
                                    </a>

                                    <div class="banner-content banner-content-bottom">
                                        <h4 class="banner-subtitle text-white"><a href="#">Trending now</a></h4><!-- End .banner-subtitle -->
                                        <h3 class="banner-title text-white"><a href="#">The Focus and Accent <br>On Your Spring Wardrobe</a></h3><!-- End .banner-title -->
                                        <a href="#" class="banner-link">Discover Now <i class="icon-long-arrow-right"></i></a>
                                    </div><!-- End .banner-content -->
                                </div><!-- End .banner -->
                            </div><!-- End .col-lg-5 -->

                            <div class="col-lg-7" th:each="banner : ${banner2}">
                                <div class="banner banner-overlay">
                                    <a href="#">
                                        <img  th:src="${'/banner-image/' + banner.bannerImages[0].fileName}"  alt="Banner" style="height: 400px; width: 679px;">
                                    </a>

                                    <div class="banner-content banner-content-right">
                                        <h4 class="banner-subtitle text-white">clearance</h4><!-- End .banner-subtitle -->
                                        <h3 class="banner-title text-white">Clearance It’s On <br>Up To 50% Off</h3><!-- End .banner-title -->

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6"  th:each="banner : ${banner3}">
                                        <div class="banner banner-overlay">
                                            <a href="#">
                                                <img  th:src="${'/banner-image/' + banner.bannerImages[0].fileName}"  alt="Banner" style="height: 200px; width: 300px;">
                                            </a>

                                            <div class="banner-content banner-content-top ">
                                                <h4 class="banner-subtitle text-white"><a href="#">you might love</a></h4><!-- End .banner-subtitle -->
                                                <h3 class="banner-title text-white"><a href="#">This Week's <br>Most Wanted</a></h3><!-- End .banner-title -->
                                                <a href="#" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                                            </div><!-- End .banner-content -->
                                        </div><!-- End .banner -->
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6"  th:each="banner : ${banner4}">
                                        <div class="banner banner-overlay">
                                            <a href="#">
                                                <img  th:src="${'/banner-image/' + banner.bannerImages[0].fileName}" alt="Banner" style="height: 200px; width: 323px;">
                                            </a>

                                            <div class="banner-content  banner-content-top banner-content-reverse">
                                                <h4 class="banner-subtitle text-white"><a href="#">The new pretty</a></h4><!-- End .banner-subtitle -->
                                                <h3 class="banner-title text-white"><a href="#">How To Dress<br>For Spring</a></h3><!-- End .banner-title -->
                                                <a href="#" class="banner-link">Discover Now <i class="icon-long-arrow-right"></i></a>
                                            </div><!-- End .banner-content -->
                                        </div><!-- End .banner -->
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->
                            </div><!-- End .col-lg-7 -->
                        </div><!-- End .row -->
                    </div><!-- End .banner-group -->
                </div><!-- End .container -->

                <div class="icon-boxes-container">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-lg-3">
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon">
                                        <i class="icon-rocket"></i>
                                    </span>

                                    <div class="icon-box-content">
                                        <h3 class="icon-box-title">Free Shipping</h3><!-- End .icon-box-title -->
                                        <p>Orders $50 or more</p>
                                    </div><!-- End .icon-box-content -->
                                </div><!-- End .icon-box -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon">
                                        <i class="icon-rotate-left"></i>
                                    </span>

                                    <div class="icon-box-content">
                                        <h3 class="icon-box-title">Free Returns</h3><!-- End .icon-box-title -->
                                        <p>Within 30 days</p>
                                    </div><!-- End .icon-box-content -->
                                </div><!-- End .icon-box -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon">
                                        <i class="icon-info-circle"></i>
                                    </span>

                                    <div class="icon-box-content">
                                        <h3 class="icon-box-title">Get 20% Off 1 Item</h3><!-- End .icon-box-title -->
                                        <p>When you sign up</p>
                                    </div><!-- End .icon-box-content -->
                                </div><!-- End .icon-box -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon">
                                        <i class="icon-life-ring"></i>
                                    </span>

                                    <div class="icon-box-content">
                                        <h3 class="icon-box-title">We Support</h3><!-- End .icon-box-title -->
                                        <p>24/7 amazing services</p>
                                    </div><!-- End .icon-box-content -->
                                </div><!-- End .icon-box -->
                            </div><!-- End .col-sm-6 col-lg-3 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .icon-boxes-container -->
            </div><!-- End .bg-lighter -->







            <div class="container">
                <h2 class="title text-center">Currently Popular Items</h2><!-- End .title -->

                <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="tab-new-link" data-toggle="tab" href="#tab-new" role="tab" aria-controls="tab-new" aria-selected="true">New</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-featured-link" data-toggle="tab" href="#tab-featured" role="tab" aria-controls="tab-featured" aria-selected="false">Featured</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-best-link" data-toggle="tab" href="#tab-best" role="tab" aria-controls="tab-best" aria-selected="false">Best Seller</a>
                    </li>
                </ul>
                <div class="tab-content">


                    <div class="tab-pane fade show active" id="tab-new" role="tabpanel" aria-labelledby="tab-new-link">
                        <div class="row justify-content-center">


                            <div class="col-6 col-md-4 col-lg-3"   th:each="product : ${productShows}">
                                <div class="product product-4">
                                    <figure class="product-media">
                                        <a href="product.html">
                                            <img th:src="${'/all-Image/' + product.images[0].fileName}"  alt="Product image" class="product-image"  style="width: 350px; height: 400px;">

                                        </a>

                                        <div class="product-action">
                                            <a  th:href="@{'/productDetail/'+ ${product.uuid}}" class="btn-product btn-cart"><span>Show Product</span></a>
                                        </div>
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">

                                        <h3 class="product-title" th:text="${product.name}">Linen-blend dress</h3>
                                        <div class="product-price">
                                            <h2 class="product-title" th:text="${product.selPrice}"></h2>

                                        </div><!-- End .product-price -->
                                        <div class="product-nav product-nav-dots">

                                        </div><!-- End .product-nav -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->

                        </div><!-- End .row -->
                    </div>





                    <div class="tab-pane fade" id="tab-best" role="tabpanel" aria-labelledby="tab-best-link">


                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->

                <div class="mb-3"></div><!-- End .mb-6 -->
            </div><!-- End .container -->
        </main><!-- End .main -->


    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>




    <script src="assetsss/js/jquery.min.js"></script>
    <script src="assetsss/js/bootstrap.bundle.min.js"></script>
    <script src="assetsss/js/jquery.hoverIntent.min.js"></script>
    <script src="assetsss/js/jquery.waypoints.min.js"></script>
    <script src="assetsss/js/superfish.min.js"></script>
    <script src="assetsss/js/owl.carousel.min.js"></script>
    <script src="assetsss/js/bootstrap-input-spinner.js"></script>
    <script src="assetsss/js/jquery.magnific-popup.min.js"></script>
    <!-- Main JS File -->
    <script src="assetsss/js/main.js"></script>
    <script src="assetsss/js/demos/demo-17.js"></script>
</body>


<!-- molla/index-17.html  22 Nov 2019 10:00:41 GMT -->
</html>